.introduce{
    text-align: center;
}

.introduce img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin-top: -70px;
}

.introduce p{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}